@{
    ViewData["Title"] = "Fishing";
}

<div class="text-center">
    <h1 class="display-4">Fishing!</h1>
    <h2>I love to fish and I want to share this passion with others!</h2>
</div>

<div>
    <img src="~/img/fish.jpg" height="400" id="imgFish" />
    <img src="~/img/fish2.jpg" height="400" id="imgFish2" />
</div>
    <h2> About my hobby:</h2>
    <p>I grew up fishing all of the time! I fished with my family every summer and found more opportunities to go with my dad
        when I could. My favorite place to fish is called Fish Lake in Central Utah. I love everything about fishing besides
        putting the worm on the hook and eating the fish! 
    </p>
    <p>I fish on the shore and in a boat! Trolling is probably my favorite because I do it the most. Casting is fun as well
        but I don't have as much success from the shoreline.
    </p>

